body {
  background-color: black;
}

.centerGold {
  text-align: center;
  color: gold;
}

.text{
  background-color: rgba(100,100,100,0.75);
  border: 10px solid white;
  padding: 20px;
}

#csharpResult {
  display: none;
}

#javaResult {
  display: none;
}

#phpResult {
  display: none;
}
